{% extends 'Core/base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    {#     Profile page with generic bootstrap layout and a form to update the client_profile's profile#}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">Profile</div>
                    <div class="panel-body text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ client_profile.profile_picture }}" class="img-responsive img-circle"
                                     alt="Profile Picture">
                            </div>
                            <div class="col-md-8">
                                <h3>{{ client_profile.first_name }} {{ client_profile.last_name }}</h3>
                                <p>{{ client_profile.user.email }}</p>
                                <p>{{ client_profile.phone_number }}</p>
                                <p>{{ client_profile.profession }} at {{ client_profile.establishment }}</p>
                                <p>{{ client_profile.bio }}</p>
                                <p>{{ client_profile.user.date_joined }}</p>
                                <p>{{ client_profile.user.last_login }}</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}