{% extends 'Core/base.html' %}

{% block title %}
    Jobs
{% endblock %}

{% block content %}
    <h1>Jobs</h1>
    <ul>
        {% if jobs %}
            {% for job in jobs %}
                <br>
                <li><a href="{% url 'client:view-job' job.pk %}">{{ job.title }}</a> -
                    {% if job.date_due %}
                        from {{ job.date_posted }} to {{ job.date_due }} -
                    {% else %}
                        posted on {{ job.date_posted.date }}
                    {% endif %}
                    by: {{ job.client.first_name }} {{ job.client.last_name }}
                </li>
                {% if not job.is_available %}
                    <p>Job is not available</p>
                {% endif %}
                <hr>
            {% endfor %}
        {% else %}
            <li>No jobs Posted.</li>
        {% endif %}
    </ul>
{% endblock %}
